
.client {
  @extend %grid;
  justify-content: center;
}
.client__item { 
   @include calc(2);
   
  @include tablet {
    @include calc(3)
  }
  @include desktop {
    @include calc(6)
  }
}
.client__link {
  transition:color var(--transition),  border-color var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
    
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  
  &:hover,
  &:focus {
  color: var(--focus-color);
  border-color: var(--focus-color);
 }
}
.client__logo {
  display: block;
  width: 106px;
  height: 60px;
  fill: currentColor;
  
}

