.header {
   border-bottom: 1px solid #ececec;
}
.nav__button {
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
   }

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width:767px){
  .nav-container { 
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
              
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: #fff;
      }
  .nav-container.nav-container--is-hidden {
        display: none;
       }
  .contact__icon {
          display: none;}
     }

.nav-container { 
  display: flex;
  background-color: #fff;
  align-items: center;
   }

  
.nav__close-button {
right: 15px;
top: 10px;
width: 40px;
height: 40px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
 
}

.nav__link {
  transition:color var(--transition);
  // padding: 32px 0;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 40px;
  line-height: 1.18;
  color: var(--title-text-color);
    
}


.nav__link--underlined {
  position: relative;
  color: var(--focus-color);}

.tel {
  transition:color var(--transition);
  // padding: 32px 0;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--focus-color);
  
}
.email {
  transition:color var(--transition);
  // padding: 32px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
 color: var( --text-color);
 }


.contacts {
 display: flex;
 flex-direction: column;
 gap: 32px;

}
.contacts {
  // @extend %grid;
  margin-top: auto;
  margin-bottom: 64px;
}


.social-header {
  display: flex;
  gap: 10px;
 }
.social-header__item {
  height: 22px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
    }
  
  .social-header__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2); ;
    }
    .social-header__link {
     font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: var(--focus-color);
      }


@include tablet {
     
.nav__button {
                    display: none;
         }
                
.nav__close-button {
               display: none;
              }
      
.nav__list {
                   margin-right: 96px;
           margin-left: auto;
           flex-direction: row;
           align-items: center;
         }
// .nav__item {
  
// }
                
.nav__link {
       font-size: 14px;
       line-height: 1.14;
       letter-spacing: 0.02em;
       padding: 32px 0;
       color: #212121;
                }
 
 
.tel,         
.email {display: flex;
  align-items: center;
  gap: 8px;
        font-weight: 500;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.02em;
color: var(--text-color);
transition:color var(--transition);
        }
       
    
 .contacts {
         gap: 10px;
         flex-direction: column-reverse;
       margin: 0;
       }
       
       // .contact {
       //   display: flex;
       //   gap: 10px;
       //   align-items: center;
       //   color: var(--text-color);
       // }
       
.contact__icon {
       
         fill: currentColor;
         .contact:hover &,
         .contact:focus & {
         fill: var(--focus-color);
       }
       }
       
.nav__link--underlined {
         position: relative;
         color: var(--focus-color);
       
         &::after {
           position: absolute;
           bottom: 0;
           display: block;
           content: '';
           width: 100%;
           height: 4px;
           background-color: var(--focus-color);
           border-radius: 2px;
         }
       }
       .social-header {
         display: flex;
         gap: 10px;
         @include tablet {display: none;}
       }
     
      }
 @include desktop {
        .tel:hover,         
        .email:hover,
        .tel:focus,         
        .email:focus {color: var(--focus-color);
                }
               
 .nav__link:hover,
 .nav__link:focus {
   color: var(--focus-color);}         
   .contacts {
           flex-direction: row-reverse;     
               gap: 30px;
               }
               .nav__list {
                margin-right: 315px;
              
               }}
