
.filter {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 8px;
  
  margin-bottom: 50px;
  padding: 0;
  @media screen and (max-width:767px) {
    max-width: 330px;
  }
  @include tablet {
    justify-content: center;
  }
}

.filter__button {
  transition: background-color var(--transition),
   color var(--transition),
   box-shadow var(--transition) ;
  padding: 6px 22px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  &.filter__button--active,
  &:hover,
  &:focus {
  color: #fff;
  background: var(--focus-color);

  box-shadow:  0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
 }
  }
  
.projects-grid {
  @extend %grid;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
 @include tablet {
  justify-content: left;
}
  
  }
  .project {
    width: 370px;
    transition:box-shadow var(--transition);
    display: block;
  &:hover,
  &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      }}


.project {
  @include tablet {
    @include calc(2)
  }
  @include desktop {
    @include calc(3)
  }
}
.project__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.project__img {
 position: relative;
 overflow: hidden;

}
.project__overlay {
  transition: transform var(--transition);
  position: absolute;
  top: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color:  rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: calc(28/18);

.project:hover &,
.project:focus &{
transform: translateY(-100%);
}}
.project__info {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.project__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project__text {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}
