.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @include mobile {
    max-width: 480px;
  }
  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }
}
