:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --focus-color: #2196f3;
  --accent-background-color: #2f303a;
  --accent-button-color: #188ce8;
  --icon-color: #afb1b8;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  